<div class="jumbotron">
  <div class="row">
    <div class="col-lg-12" style="">
      <img ng-src="images/logo.png" class="animated slideInLeft"></img>

    </div>
    <div class="col-lg-12">
        
        <div id="myProgressbar" class="progress" >
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ vm.progressValue }}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':vm.progressValue+'%'}">
            <span class="sr-only">{{ vm.progressValue }}% Complete</span>
          </div>
        </div>

    </div>
  </div>
